* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Alexandria', sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Oculta el scroll horizontal */
}

/*INICIAR SESION*/ 
@media (min-width: 320px) and (max-width: 768px) {
    .bodyIniciarSesion {
        background-color: #f5f5f5;
    }

    .eduTask {
        color: transparent;
        user-select: none;
        background-image: url('../Imagenes/EduTask.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        margin-left: 1em;
        width: 3em;
    }

    .headerIniciarSesion {
        background-color: #2b2769;
        color: #fff;
        height: 4vh;
        transition: height 0.3s ease-in-out;
        position: fixed;
        width: 100vw;
    }

    #menuIcon {
        background-color: #2b2769;
        color: #fff;
        border: none;
        font-size: 1.5em;
        margin-right: 1em;
    }

    .menu-hamburguesa {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headerIniciarSesion nav {
        display: block;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        overflow: hidden;
        visibility: hidden;
        height: 0;
    }

    .headerIniciarSesion nav.show {
        opacity: 1;
        transform: translateY(0);
        height: auto;
        visibility: visible;
    }

    .headerIniciarSesion nav li {
        list-style: none;
        text-align: right;
        margin-right: 2em;
    }

    .headerIniciarSesion nav a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 1em;
    }

    .headerIniciarSesion nav li:first-child {
        background-image: url('../Imagenes/HomeIcon.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 2em;
    }

    .headerIniciarSesion nav li:last-child {
        background-image: url('../Imagenes/LoginIcon.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 2em;
        margin-top: 0.4em;
    }

    .col-2 {
        width: 100vw;
    }

    .title {
        padding-top: 3em;
        margin-left: 1em;
        font-size: 2em;
    }

    .subtitle {
        margin-top: 2em;
        margin-left: 1.5em;
        font-size: 1.5em;
    }

    .form-login {
        margin-left: 2.2em;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .form-login label {
        margin: 1em;
        margin-top: 2em;
        font-size: 1em;
    }

    .form-login input {
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #cfd9dffb;
    }

    .form-login button {
        margin-top: 2em;
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #333;
        color: #fff;
    }

    button {
        width: max-content;
    }

    button:hover {
        background-color: #929292;
        color: black;
        border: none;
    }

    button:active {
        background-color: #fff;
        border: dotted 2px black;
        color: black;
    }

    .mail p {
        margin-top: 2em;
        margin-left: 4em;
    }

    .mail a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .col-2 {
        position: fixed;
        bottom: 0;
        background-color: #333;
        width: 100vw;
        height: calc(100vh - 92vh);
        margin-left: 2em;
    }

    .tituloFooterr {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .tituloFooter {
        display: block;
        color: transparent;
        user-select: none;
        background-image: url('../Imagenes/EduTaskFooter.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .enlasesFooter-a- {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 0.7em;
    }

    .bodyIniciarSesion {
        list-style: none;
    }

}


@media (min-width: 769px) and (max-width: 1024px) {

    .bodyIniciarSesion {
        background-color: #f5f5f5;
    }

    .eduTask {
        color: transparent;
        user-select: none;
        background-image: url('../Imagenes/EduTask.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        margin-left: 1em;
        margin-top: 0.3em;
        width: 3em;
    }

    .headerIniciarSesion {
        background-color: #2b2769;
        color: #fff;
        height: 4vh;
        transition: height 0.3s ease-in-out;
        position: fixed;
        width: 100vw;
    }

    #menuIcon {
        background-color: #2b2769;
        color: #fff;
        border: none;
        font-size: 1.5em;
        margin-right: 1em;
        margin-top: 0.3em;
    }

    .menu-hamburguesa {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headerIniciarSesion nav {
        display: block;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        overflow: hidden;
        visibility: hidden;
        height: 0;
    }

    .headerIniciarSesion nav.show {
        opacity: 1;
        transform: translateY(0);
        height: auto;
        visibility: visible;
    }

    .headerIniciarSesion nav li {
        list-style: none;
        text-align: right;
        margin-right: 2em;
        margin-top: 0.5em;
    }

    .headerIniciarSesion nav a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 1em;
    }

    .headerIniciarSesion nav li:first-child {
        background-image: url('../Imagenes/HomeIcon.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 2em;
    }

    .headerIniciarSesion nav li:last-child {
        background-image: url('../Imagenes/LoginIcon.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 2em;
        margin-top: 1em;
    }

    .col-2 {
        width: 100vw;
    }

    .title {
        padding-top: 5em;
        margin-left: 1em;
        ;
        font-size: 3em;
    }

    .subtitle {
        margin-top: 2em;
        margin-left: 1.5em;
        font-size: 2.25em;
    }

    .form-login {
        margin-left: 3.2em;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .form-login label {
        margin: 1em;
        margin-top: 2em;
        font-size: 1.5em;
    }

    .form-login input {
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #cfd9dffb;
    }

    .form-login button {
        margin-top: 2em;
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #333;
        color: #fff;
    }

    button {
        width: max-content;
    }

    button:hover {
        background-color: #929292;
        color: black;
        border: none;
    }

    button:active {
        background-color: #fff;
        border: dotted 2px black;
        color: black;
    }

    .mail p {
        margin-top: 2em;
        margin-left: 2.7em;
        font-size: 1.2em;
    }

    .mail a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .col-2 footer {
        position: fixed;
        bottom: 0;
        background-color: #333;
        width: 100vw;
        height: calc(100vh - 92vh);
    }

  
    
    .bodyIniciarSesion {
        list-style: none;
    }

}


@media screen and (min-width: 1025px) {

    .bodyIniciarSesion {
        background-color: #f5f5f5;
        display: flex;
        justify-content: flex-start;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    .eduTask {
        color: transparent;
        user-select: none;
        background-image: url('../Imagenes/EduTask.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 4em;
    }

    #menuIcon {
        display: none;
        background-color: #2b2769;
    }

    .headerIniciarSesion {
        background-color: #2b2769;
        color: #fff;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 4em;
        z-index: 1;
        height: 100vh;
    }

    .headerIniciarSesion nav {
        margin-top: 4em;
    }

    .headerIniciarSesion nav li {
        margin-top: 2em;
    }

    .headerIniciarSesion nav li:first-child {
        background-image: url('../Imagenes/HomeIcon.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;
    }

    .headerIniciarSesion nav li:last-child {
        background-image: url('../Imagenes/LoginIcon.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;
    }

    .col-2 {
        width: 100vw;
    }

    .title {
        margin: 2em;
        font-size: 2em;
    }

    .subtitle {
        margin: 2em;
        margin-left: 2.7em;
        font-size: 1.5em;
    }

    .form-login {
        margin-left: 4em;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .form-login label {
        margin: 1em;
        margin-top: 2em;
        font-size: 1em;
    }

    .form-login input {
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #cfd9dffb;
    }

    .form-login button {
        margin-top: 2em;
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #333;
        color: #fff;
    }

    button {
        width: max-content;
    }

    button:hover {
        background-color: #929292;
        color: black;
        border: none;
    }

    button:active {
        background-color: #fff;
        border: dotted 2px black;
        color: black;
    }

    .mail p {
        margin-top: 2em;
        margin-left: 4em;
    }

    .mail a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    #email:hover,
    #password:hover {
        background-color: rgba(214, 232, 243, 0.795);
        border: solid #2b2769 0.02em;
    }

    .col-2 footer {
        position: fixed;
        bottom: 0;
        background-color: #333;
        width: 90vw;
        right: 0;
        height: calc(100vh - 87vh);
    }


    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .footer {
        display: flex;
        flex-direction: row;
        color: transparent;
       
    }
    .footerLinks{
        display: flex;
        width: 30%;
        justify-content: space-between;
    }

    .imagenFooter{
        display: flex;
        align-items: center;
        height: 1.3em;
    
    }
    
    .headerIniciarSesion{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    
    .bodyIniciarSesion li {
        list-style: none;
    }

    
}

/* REGISTRO */

@media screen and (min-width: 1025px) {
    .bodyRegistro {
        background-color: #f5f5f5;
        display: flex;
        justify-content: flex-start;
        height: 100vh;
        width: 100vw;
    }

    .eduTask {
        color: transparent;
        user-select: none;
        background-image: url('../Imagenes/EduTask.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 4em;
    }

    #menuIcon {
        display: none;
    }

    .headerRegistro {
        background-color: #2b2769;
        color: #fff;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 4em;
        height: 100vh;
        position: fixed;
        z-index: 1;
    }

    .headerRegistro a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

    .headerRegistro nav {
        margin-top: 4em;
    }

    .headerRegistro nav li {
        margin-top: 2em;
    }

    .headerRegistro nav li:first-child {
        background-image: url('../Imagenes/HomeIcon.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;
    }

    .headerRegistro nav li:last-child {
        background-image: url('../Imagenes/LoginIcon.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;
    }

    .col-2 {
        width: 100vw;
    }

    .title {
        margin: 2em;
        font-size: 2em;
    }

    .main-registro {
        margin-left: calc(22%);
    }

    .registrarse-form {
        margin-left: 4em;
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .label-registro {
        margin: 1em;
        margin-top: 2em;
        font-size: 1em;
    }

    .input-registro {
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #cfd9dffb;
    }

    .input-registro:hover {
        background-color: rgba(214, 232, 243, 0.795);
        border: solid #2b2769 0.02em;
    }

    .boton-registro {
        margin-top: 2em;
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #333;
        color: #fff;
        width: max-content;
        margin-bottom: calc(25%);
    }

    .boton-registro:hover {
        background-color: #929292;
        color: black;
        border: none;
    }

    .boton-registro:active {
        background-color: #fff;
        border: dotted 2px black;
        color: black;
    }

    .col-2 .footer-registro {
        position: fixed;
        bottom: 0;
        background-color: #333;
        width: 90vw;
        right: 0;
        height: calc(100vh - 92vh);
    }

    .footer-registro {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        margin-left: calc(20%);
    }

    .footer-registro p {
        display: block;
        color: transparent;
        user-select: none;
        background-image: url('../Imagenes/EduTaskFooter.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .footer-registro a,
    .headerIniciarSesion a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    .footer-registro li,
    .bodyRegistro li {
        list-style: none;
    }
}

/* HOME */
@media screen and (min-width: 1025px) {
    .bodyHome {
        background-color: #dde0e4;
        display: flex;
        justify-content: flex-start;
        height: 100vh;
        width: 100vw;

    }

    .main-content {
        flex: 1;
        padding: 1rem;

        margin-left: 19em;
    }

    .main-content header {
        margin: 1em 0 3em 0em;
    }


    .headerHome {
        background-color: #2b2769;
        color: #fff;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 4em;
        height: 100vh;
        position: fixed;
        z-index: 1;
    }

    .headerHome a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

    .headerHome nav {
        margin-top: 4em;
    }

    .headerHome nav li {
        margin-top: 2em;
        list-style: none;
    }

    .headerHome nav li:first-child {
        background-image: url('../Imagenes/HomeIcon.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;
    }

    .headerHome nav li:nth-child(2) {
        background-image: url('../Imagenes/LoginIcon.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;
    }


    .headerHome nav li:last-child {
        background-image: url('../Imagenes/GroupIcon.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;

    }

    .headerHome-perfil {
        display: flex;
        direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .institutoFoto {
        display: flex;
        direction: row;
        margin-right: 3em;
        align-items: center;
        gap: 1em;
    }

    .imgPerfil-home {
        width: 4em;
        border-radius: 50%;

    }
    .botonCerrarSesion{
        color: #333;
        font-size: small;
    }
    .dashboard {
        width: 100%;
        height: auto;
        margin-bottom: -10%;
        display: grid;
        grid-template-areas:
            "calendario todo"
            "entregas todo"
            "materias grupos";
        grid-template-columns: 45% 45%;
        grid-template-rows: 37.5% 25% 25%;
        gap: .5rem;
        justify-content: center;
    }
    .calendarioTexto{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.6em;
    }
    .flechasCalendario{
        height: 1.5em;
    }
    .anioCalendario{
        color: #333;
        margin-left: 1em;
    }
    .todo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: auto;
        background-color: #f9f9f9;
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow-x: hidden;
    }

    .tituloListaTareasTodo {
        color: #333;

    }

    .listaTareas {
        margin-left: 0;
        max-height: 62%; 
        overflow-y: auto; 
        margin-top: 3%;
        margin-right: 10%;

    }
    
    .tareas, .tareasRealizadas {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    .tareasRealizadas:last-child {
        border-bottom: none;
    }

    .anotadorImg {
        max-width: 100%; 
        max-height: 100%; 
        width: auto; 
        height: 100%; 
        object-fit: contain; 
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .iconoToDo{
        margin-top: 1.5em;
    }
    
    .tituloToDo {
        color: #333;
        font-weight: bold;
        margin-top: 1.5em;
        margin-bottom: 0;

    }

    .anotacionesToDo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
        height: 70%;
        color: white;
      }
      
    .calendario,
    .materias,
    .grupos,
    .entregas {
        height: auto;
        background-color: #fff;
        padding: 1.5rem;
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .materia{
        margin-bottom: calc(1em);
    }

    .calendario {
        position: relative;
        grid-area: calendario;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .calendarioTexto {
        text-align: center;
        margin-top: 0;
    }

    .calendarioImg {
        height: 85%;
        margin: .2rem;
        border-radius: .5rem;
        border: 1px solid black;
    }

    .todo {
        grid-area: todo;
       
    }

    
    .tareas {
        background-color: transparent; 
        border-radius: 0.5em;
        padding: 1em 1.25em;
        
        transition: transform 0.2s, box-shadow 0.2s;
        /*margin: 0.5% auto;*/
        margin:0.5% 0% 0.5% 22% ;
        cursor: pointer;
        max-width: 65%; 
        font-size: 2px;

    }
    
    
    
    .tareas span {
        font-size: 1rem;
        font-weight: 500;
        color: #333;
        display: block;
        padding: 0.6em 0;
        text-align: left;
    }

    .tareasRealizadas {
        
        border-radius: 0.5em;
        padding: 1em 1.25em;
        box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
        transition: transform 0.2s, box-shadow 0.2s;
        margin: 0.5% 0% 0.5% 18% ;
        cursor: default; 
        max-width: 90%;
    }

    .tareasRealizadas:hover {
        transform: none;
        box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
    }

    .tareasRealizadas span {
        font-size: 1rem;
        font-weight: 400; 
        color: #7a7a7a; 
        display: block;
        padding: 0.6em 0;
        text-align: left;
        text-decoration: line-through;
    }


    .materias {
        grid-area: materias;
    }

    .materiasHome{
        text-decoration: none;
        color: black;
    }
    .gruposHome{
        text-decoration: none;
        color: black;
    }
    .entregas {
        grid-area: entregas;
    }
    .listaEntregasExamenes{
        height: 70%;
        overflow: auto;
    }
    .tituloSemana{
        margin-bottom: 0;
    }
    .listaSemanal{
        margin-bottom: 0.7em;
    }

    .tituloCaja{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-bottom: calc(1.5em);

    }

    .grupos {
        grid-area: grupos;
    }

    .grupo{
        margin-bottom: calc(1.5em);
        margin-left: calc(0.5em);
    }

    .tarjetas {
        height: 95%;
        margin: .2rem;
        display: flex;
        justify-content: space-around;
    }

    .tarjeta {
        text-align: center;
        height: 45%;
        width: 45%;
        background-color: #cecccc;
        padding: 1rem;
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-wrap: nowrap;
        text-align: left;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top: 1em;

    }

    .iconoTarjeta{
        height: 2rem;
        margin-right: .2rem;
    }
 
}

/* CREAR MATERIAS */
@media screen and (min-width: 1025px) {
    .subtitle-crearMateria {
        background-image: url('../Imagenes/LoginRelleno.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;
    }

    .form-crearMateria {
        margin-left: 2.2em;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .form-crearMateria label {
        margin: 1em;
        margin-top: 2em;
        font-size: 1em;
    }

    .form-crearMateria input {
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #d3d3d3;
    }

    .form-crearMateria button {
        margin-top: 2em;
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #333;
        color: #fff;
        width: 50%;
    }

    .descripcion{
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #cfd9dffb;
        background-image: url('../Imagenes/sonrisa-mas.png');
        background-size: 2em;
        background-position-x: right;
        background-position-y:bottom;
        background-repeat: no-repeat;

    }

}

/*MATERIAS*/
@media screen and (min-width: 1025px) {
    .iconoMateriaMaterias {
        background-image: url('../Imagenes/LoginRelleno.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        margin-bottom: .75em;
        padding-left: 2em;
        margin-top: 3em;
        font-size: 1.2em;
        
    }

    .main-materias {
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
        margin-left: 19em;
    }

    .main-materias header {
        margin: 1em 0 0 0em;
    }

    .segundoHeader {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2em;
    }

    .segundoHeader button {
        margin-right: 5.5em;
        border-radius: 0.5em;
        border: none;
        background-color: rgb(201, 200, 200);
        text-align: end;
        padding: .6em;
    }

    .segundoHeader {
        text-decoration: none;
        color: #333;
        height: 3em;
    }
    .botonCrearMateria{
        position: absolute;
        z-index: 1;
        margin-bottom: -3em;
        margin-left: 83%;
    }
    .bodyMaterias {
        background-color: #dde0e4;
        display: flex;
        justify-content: flex-start;
        margin-bottom: calc(8em);
        padding-top: 0.2em;
    }

    .contenedorMaterias {
        display: grid;
        grid-template-columns: repeat(2, 16em);
        gap: .3rem;
        align-content: space-around;
        margin-left: 2em;
        margin-bottom: calc(4em);
        margin-top: 2em;
    }
    .tituloCajaMateria{
        font-size: 1.5em;
    }
    .materiaHeader{
        margin-bottom: 1.5em;
    }
    #btnVerMateria{
        display: flex;
        justify-content: center;
    }
    .textoBodyCaja{
        margin-bottom: 1em;;
    }
    .contenedorTodoYentregas{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        gap: 1rem;
        margin-left: 1em;
        margin-top: -2em;
    }

    .ToDoMaterias {
        height: auto;
        background-color: #fff;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .iconoToDolist {
        background-image: url('../Imagenes/ToDolist.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;
        margin-bottom: .75em;
        font-size: 1.2em;
    }

    .entregasMaterias {
        height: calc(75%);
        background-color: #fff;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: calc(85%);
        margin-top: -1em;
    }

    .iconoEntregas {
        background-image: url('../Imagenes/campana.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;
        margin-bottom: .75em;
        font-size: 1.2em;
    }
    
    .materia{
        height: auto;
        background-color: #fff;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-left: calc(1em);
        margin-bottom: calc(1em);
    }
     button {
        padding: .4rem .8rem;
        border-radius: .5rem;
        border: none;
        background-color: #333;
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }

    .btn-materia:hover{
        color: #333;
    }

    .todoMaterias{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        background-color: #f9f9f9;
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 85%;
        height: 85%;
        margin-top: calc(4em);
    }
}

/*VER MATERIA*/
@media screen and (min-width: 1025px){
    .bodyVerMaterias {
        background-color: #dde0e4;
        display: flex;
        justify-content: flex-start;
        margin-top: 1em;
    }    

    .contenedorVerMaterias{
            display: grid;
            grid-template-columns: repeat(2, 16em);
            gap: .3rem;
            align-content: space-around;
            padding-bottom: 5em;
           
    }

    .contenedorDias{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;
        justify-content: space-between;
        justify-items: center;
        margin-left: 1.5em;
    }
    
    .dia{
        height: 4.5em;
        width: 4.5em;
        background-color: #fff;
       
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }
    .numeroDeDia{
        padding: 0;
    }
   
    .manejadorFecha{
        margin-left: 18%;
        margin-top: 3em ;
    }
    .flechasCalendarioMateria{
        background-color:#dde0e4 ;
    }
    .dia{
        padding: 1em;
        text-align: center;
    }

    .dia span{
        font-size: x-small;
        padding: 1em 0em;
        text-align: center;
    }
    .iconoCalendarioVerde {
        width: 1.5em; 
        height: 1.5em;
        margin-top: 0.3em; 
        display: block;
        
    }
    .iconoCalendarioRojo {
        width: 1em; 
        height: 1.6em;
        margin-top: 0.3em; 
        display: block;
    }
    .diaIcono{
        padding: 0;
        gap:0;
    }
    .fechaActual{
        background-color: #2b276971;
    }
    .finDeSemana {
    background-color: #99959567; 
}
    .contenedorTodoVerMaterias{
        position: relative; 
        width: 24em; 
        height: auto; 
        margin-left: 25em;
        
    }
    .sinPadding{
        padding: 0;
    }
    .anotadorImgMateria {
        width: 100%; 
        height: auto; 
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .ToDoVerMaterias{
        position: absolute; 
        top: -6%; 
        left: 4%; 
        width: 80%; 
        height: 100%; 
        background-color: transparent; 
        padding: 1rem;
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        text-align: center; 
        overflow: hidden;
    }
    .listaTareasMateria{
        max-height: 55%;
        overflow-y: auto;
    }
    .botonMisApuntes {
        margin: 1em 0 1em 0.9em;
    }
    
}

/*CREAR GRUPO*/

@media screen and (min-width: 1025px) {
    .main-crearGrupo {
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
        margin-left: calc(12%);
    }

    .titulo-crearGrupo {
        background-image: url('../Imagenes/grupos2.png');
        background-size: 1.3em;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;
    }

    .main-crearGrupo header {
        margin: 1em 0 3em 0em;
    }


    .form-crearGrupo {
        margin-left: 2.2em;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .label-crearGrupo {
        margin: 1em;
        margin-top: 2em;
        font-size: 1em;
    }

    .input-crearGrupoo {
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #cfd9dffb;
        background-image: url('../Imagenes/sonrisa-mas.png');
        background-size: 2em;
        background-position-x: right;
        background-position-y:bottom;
        background-repeat: no-repeat;
    }

     .input-crearGrupo {
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #cfd9dffb;
    }

    .boton-crearGrupo {
        margin-top: 2em;
        margin-bottom: 6em;
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #333;
        color: #fff;
        width: 50%;
    }

    .header-crearGrupo h1 {
        margin-left: calc(13%);
    }

    .institutoFotoCrear{
        display: flex;
        direction: row;
        margin-left:60em;
        align-items: center;
        gap: 1em;
        margin-top: -2em;
    }

    .sugerenciasFoto{
        width: 10em;
        border-radius: 5%;
        margin-left: 105%;
    }

    .sugerencias{
        width: 10em;
        margin-left: 72%;
        margin-top: -33%;
    }

    .sugerencias-palabra{
        margin-left: 107%;
       font-size: small;
       margin-bottom: 1%;
    }
    

    
}

/* GRUPOS */
@media screen and (min-width: 1025px) {

    .bodyGrupos{
        display: flex;
        flex-direction: row;
        margin-bottom: calc(6em);
        margin-left: calc(2em);
    }

    .iconoGrupos {
        background-image: url('../Imagenes/grupos2.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        margin-bottom: .75em;
        padding-left: 2em;
        margin-top: 3em;
        font-size: 1.2em;
        
    }

    .main-grupos {
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
        margin-left: 19em;
    }

    .main-grupos header {
        margin: 1em 0 0 0em;
    }


    .segundoHeader button a {
        text-decoration: none;
        color: #333;
     
    }
    .botonCrearGrupo{
        margin-bottom: -3em;
    }
    .bodygrupos {
        background-color: #f5f5f5;
        display: flex;
        justify-content: flex-start;
        margin-top: 2em;
    }

    .contenedorGrupos {
        display: grid;
        grid-template-columns: repeat(2, 16em);
        gap: .3rem;
        align-content: space-around;
        margin-right: 1em;
        margin-top: 2em;
        margin-bottom: calc(8em);
        margin-left: 0.8em;
    }


    .iconoToDolist {
        background-image: url('../Imagenes/lapiz.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;
        margin-bottom: .75em;
        font-size: 1.2em;
    }


    .grupo{
        height: auto;
        background-color: #fff;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
       flex-direction: column;
       font-size: 1.1em;
    }
    .grupo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grupo h2 {
        margin-bottom: 1rem;
    }

    .grupo p {
        margin-bottom: 1rem;
    }

    .grupo button {
        padding: .5rem 1rem;
        border-radius: .5rem;
        border: none;
        background-color: #333;
        color: #fff;
    }

    .grupo button a {
        text-decoration: none;
        color: #fff;
    }

    .grupo button a:hover {
        color: #fff;
    }

    .grupoHeader{
        display: flex;
        flex-direction: row;
    }

    .todoGrupos{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #f9f9f9;
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 40%;
        height: 30%;
        margin-top: calc(2em);
        
    }

    .tituloToDoGrupos{
        color: #333;
    }
      
      .anotacionesToDoGrupos {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
        color: white;
        max-height: 60%;
        overflow: hidden;
        
      }

      .listaTareasGrupos {
        max-height: 50%; 
        overflow-y: auto;
    }


    .tituloCajaGrupo{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-bottom: calc(2em);
        margin-right: calc(3em);
    }

    
}

/* VER GRUPO */

@media screen and (min-width: 1025px) {
    .boton-añadirIntegrante{
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #cfd9dffb;
        text-decoration: none;
        color: #333;
        margin-right: calc(20em);
        margin-top: 2em;
        width: 7em;

    }

    .crearPublicacion{
        margin-top:  calc(4em);
        margin-left: calc(3em);
        display: flex;
        flex-direction: column;
    }

    .espacio-crearPublicacion{
        margin-top: 2em;
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #cfd9dffb;
        background-image: url('../Imagenes/sonrisa-mas.png');
        background-size: 2em;
        background-position-x: right;
        background-position-y:bottom;
        height: calc(8em);
        width: calc(49em);
        background-repeat: no-repeat;
    
    }

    .boton-publicar{
        padding: 1em;
        border: none;
        margin-top: 0.5em;
        display: flex;
        justify-content: end;
       margin-right: calc(20em);
    }

    .boton-publicar-{
        background-color: #cfd9dffb;
        text-decoration: none;
        color: #333;
        padding: 1em;
        border-radius: 0.5em;
    }

    .comentario{
        margin-top: 2em;
        height: calc(8em);
        width: 35em;
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #cfd9dffb;
        margin-left: calc(8em); 
        display: flex;
        flex-direction: row;
    }

    .contenedor-comentarios{
        display: flex;
        flex-direction: row;
        margin-left: calc(3em);
    }

    .contenedor-comentarios:last-child{
        margin-bottom: calc(5em);
    }

    .icono-grupo{
        background-image: url('../Imagenes/grupo.png');
            background-size: contain;
            background-position: 100%;
            width: calc(10em);
            height: calc(1.5em);
            background-repeat: no-repeat;
            margin-bottom: .75em;
            padding-left: 0.5em;
            margin-top: 3em;
            font-size: 1.2em; 
            margin-right: calc(2em);
    }

    .icono-userGrupo{
        margin-top: calc(5em);
        width: calc(3em);
        height: calc(3em);
        margin-right: calc(-5.5em);
       
    }

    .iconosGrupos{
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: 15%;
    }

    .imagenIcono{
       width: 100%; 
       height: 100%;
       margin: 0.5em;
    }

    .bodyVerGrupo{
        margin-bottom: calc(12em);
    }

    .iconoGruposVer{
        background-image: url('../Imagenes/grupos2.png');
        background-size: 1.3em;
        background-position: left;
        background-repeat: no-repeat;
        margin-bottom: .75em;
        padding-left: 2em;
        margin-top: 3em;
        font-size: 1.2em;
    }
    

    /*MIS APUNTES*/

    .cargarArchivos{
        margin-top: 2em;
        margin-left: 6em;
    }

    .cargar{
        font-size: 1.2em;
    }

    .hoy{
        margin-left: 2.8em;
        margin-top: 2em;
    }

    .archivosCargados{
        display: flex;
        flex-direction: column;
        margin-bottom: 3.5em;
    }

    .botonCargarArchivo{
        padding: 1em 4em 1em 4em;
        border-radius: 0.5em;
        border: none;
        background-color: #777777;
        color: #fff;
        margin-left: 2.5em;
    }

    .botonArchivoCargado{
        margin-left: 2.5em;
        margin-top: 1.5em;
        background-color: #c9c4c4 !important;
        padding: 1em 15em 1em 1em;
    }

    .iconoArchivo1{
        background-image: url('../Imagenes/pdfIcon.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        margin-bottom: .75em;
        padding-left: 2em;
        margin-top: 3em;
        font-size: 1.2em;
    }

    .iconoArchivo2{
        background-image: url('../Imagenes/img.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        margin-bottom: .75em;
        padding-left: 2em;
        margin-top: 3em;
        font-size: 1.2em;
    }

    .iconoArchivo3{
        background-image: url('../Imagenes/word.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        margin-bottom: .75em;
        padding-left: 2em;
        margin-top: 3em;
        font-size: 1.2em;
    }

    .popUp {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        border-radius: 8px;
        z-index: 1000;
    }
    
    .ocultar {
        display: none;
    }
    
    .cerrar {
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }    

    .botonPopUp{
        color: #f5f5f5;
    }

    #subirNotasDiv{
        height: 26rem;
        width: 25rem;
        padding: 2.5rem;
    }

    #nota{
        height: 20rem;
        width: 20rem;
        left: 50%;
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #cfd9dffb;
    }

    #subirArchivosDiv{
        height: 12rem;
        padding-top: 2.5rem;
    }

    .dropzone {
        border: 2px dashed #2b2769;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
        color: #2b2769;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .dropzone.dragover {
        background-color: #cfd9dffb;
    }
    
    #fileList {
        margin-top: 20px;
        list-style: none;
        padding: 0;
    }
    
    #fileList li {
        padding: 5px 10px;
        border: 1px solid #ddd;
        margin-bottom: 5px;
        border-radius: 4px;
        background: #f9f9f9;
    }
    
    .semanaArchivo{
        border-radius: 0.5em;
        background-color: #cfd9dffb;
    }
}

/* AGREGAR EVENTO */

@media screen and (min-width: 1025px) {
    .fechaCalendario-home{
        color: #333;
    }
    .formulario-evento {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000; 
    }
    .evento-input{
        padding: 0.7em;
        border-radius: 0.5em;
        border: none;
        background-color: #cfd9dffb;
    }
    .opcion-examen{
        margin-left: 1em;
        margin-right: 1em;
    }
    input[type="datetime-local"] {
        padding: 0.7em;
        border-radius: 0.5em;
        border: none;
        background-color: #cfd9dffb;
    }
    .form-container {
        background-color: white;
        padding: 1.5em;
        border-radius: 4%;
        width: 25%;
        
    }
    .form-container .titulo-evento {
        text-align: left;
        
    }
    .form-container .evento-label,
    .form-container .evento-input
     {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .fin-button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2em;
    }
    .evento-button {
        padding: 10px;
        border: none;
        background-color: #333;
        color: white;
        cursor: pointer;
        border-radius: 0.7em;
    }
    }