* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Alexandria', sans-serif;
}

/* INDEX */

@media (min-width: 320px) and (max-width: 768px) {

    .bodyIniciarSesion {
        background-color: #f5f5f5;
    }

    .eduTask {
        color: transparent;
        user-select: none;
        background-image: url('../Imagenes/EduTask.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        margin-left: 1em;
        width: 3em;
    }

    .headerIniciarSesion {
        background-color: #333;
        color: #fff;
        height: 4vh;
        transition: height 0.3s ease-in-out;
        position: fixed;
        width: 100vw;
    }

    #menuIcon {
        background-color: #333;
        color: #fff;
        border: none;
        font-size: 1.5em;
        margin-right: 1em;
    }

    .menu-hamburguesa {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headerIniciarSesion nav {
        display: block;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        overflow: hidden;
        visibility: hidden;
        height: 0;
    }

    .headerIniciarSesion nav.show {
        opacity: 1;
        transform: translateY(0);
        height: auto;
        visibility: visible;
    }

    .headerIniciarSesion nav li {
        list-style: none;
        text-align: right;
        margin-right: 2em;
    }

    .headerIniciarSesion nav a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 1em;
    }

    .headerIniciarSesion nav li:first-child {
        background-image: url('../Imagenes/HomeIcon.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 2em;
    }

    .headerIniciarSesion nav li:last-child {
        background-image: url('../Imagenes/LoginIcon.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 2em;
        margin-top: 0.4em;
    }

    .col-2 {
        width: 100vw;
    }

    .title {
        padding-top: 3em;
        margin-left: 1em;
        font-size: 2em;
    }

    .subtitle {
        margin-top: 2em;
        margin-left: 1.5em;
        font-size: 1.5em;
    }

    .form-login {
        margin-left: 2.2em;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .form-login label {
        margin: 1em;
        margin-top: 2em;
        font-size: 1em;
    }

    .form-login input {
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #d3d3d3;
    }

    .form-login button {
        margin-top: 2em;
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #333;
        color: #fff;
        width: 50%;
    }

    .mail p {
        margin-top: 2em;
        margin-left: 4em;
    }

    .mail a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .col-2 footer {
        position: fixed;
        bottom: 0;
        background-color: #aba8a8;
        width: 100vw;
        height: calc(100vh - 92vh);
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    footer p {
        display: block;
        color: transparent;
        user-select: none;
        background-image: url('../Imagenes/EduTaskFooter.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    footer a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 0.7em;
    }

    footer ul {
        padding: 0;
        text-align: center;
    }

    footer li,
    .bodyIniciarSesion li {
        list-style: none;
    }

    footer div {
        width: 50%;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {

    .bodyIniciarSesion {
        background-color: #f5f5f5;
    }

    .eduTask {
        color: transparent;
        user-select: none;
        background-image: url('../Imagenes/EduTask.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        margin-left: 1em;
        margin-top: 0.3em;
        width: 3em;
    }

    .headerIniciarSesion {
        background-color: #333;
        color: #fff;
        height: 4vh;
        transition: height 0.3s ease-in-out;
        position: fixed;
        width: 100vw;
    }

    #menuIcon {
        background-color: #333;
        color: #fff;
        border: none;
        font-size: 1.5em;
        margin-right: 1em;
        margin-top: 0.3em;
    }

    .menu-hamburguesa {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headerIniciarSesion nav {
        display: block;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        overflow: hidden;
        visibility: hidden;
        height: 0;
    }

    .headerIniciarSesion nav.show {
        opacity: 1;
        transform: translateY(0);
        height: auto;
        visibility: visible;
    }

    .headerIniciarSesion nav li {
        list-style: none;
        text-align: right;
        margin-right: 2em;
        margin-top: 0.5em;
    }

    .headerIniciarSesion nav a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 1em;
    }

    .headerIniciarSesion nav li:first-child {
        background-image: url('../Imagenes/HomeIcon.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 2em;
    }

    .headerIniciarSesion nav li:last-child {
        background-image: url('../Imagenes/LoginIcon.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 2em;
        margin-top: 1em;
    }

    .col-2 {
        width: 100vw;
    }

    .title {
        padding-top: 5em;
        margin-left: 1em;
        ;
        font-size: 3em;
    }

    .subtitle {
        margin-top: 2em;
        margin-left: 1.5em;
        font-size: 2.25em;
    }

    .form-login {
        margin-left: 3.2em;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .form-login label {
        margin: 1em;
        margin-top: 2em;
        font-size: 1.5em;
    }

    .form-login input {
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #d3d3d3;
    }

    .form-login button {
        margin-top: 3em;
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #333;
        color: #fff;
        width: 50%;
    }

    .mail p {
        margin-top: 2em;
        margin-left: 2.7em;
        font-size: 1.2em;
    }

    .mail a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .col-2 footer {
        position: fixed;
        bottom: 0;
        background-color: #aba8a8;
        width: 100vw;
        height: calc(100vh - 92vh);
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    footer p {
        display: block;
        color: transparent;
        user-select: none;
        background-image: url('../Imagenes/EduTaskFooter.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 1.5em;
    }

    footer a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 1.3em;
    }

    footer ul {
        padding: 0;
        text-align: center;
    }

    footer li,
    .bodyIniciarSesion li {
        list-style: none;
    }

    footer div {
        width: 50%;
    }
}

@media screen and (min-width: 1025px) {

    .bodyIniciarSesion {
        background-color: #f5f5f5;
        display: flex;
        justify-content: flex-start;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    .eduTask {
        color: transparent;
        user-select: none;
        background-image: url('../Imagenes/EduTask.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 4em;
    }

    #menuIcon {
        display: none;
    }

    .headerIniciarSesion {
        background-color: #333;
        color: #fff;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 4em;
        height: 100vh;
    }

    .headerIniciarSesion nav {
        margin-top: 4em;
    }

    .headerIniciarSesion nav li {
        margin-top: 2em;
    }

    .headerIniciarSesion nav li:first-child {
        background-image: url('../Imagenes/HomeIcon.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;
    }

    .headerIniciarSesion nav li:last-child {
        background-image: url('../Imagenes/LoginIcon.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 2em;
    }

    .col-2 {
        width: 100vw;
    }

    .title {
        margin: 2em;
        font-size: 2em;
    }

    .subtitle {
        margin: 2em;
        margin-left: 2.7em;
        font-size: 1.5em;
    }

    .form-login {
        margin-left: 4em;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .form-login label {
        margin: 1em;
        margin-top: 2em;
        font-size: 1em;
    }

    .form-login input {
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #d3d3d3;
    }

    .form-login button {
        margin-top: 2em;
        padding: 1em;
        border-radius: 0.5em;
        border: none;
        background-color: #333;
        color: #fff;
        width: 50%;
    }

    .mail p {
        margin-top: 2em;
        margin-left: 4em;
    }

    .mail a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .col-2 footer {
        position: fixed;
        bottom: 0;
        background-color: #aba8a8;
        width: 100vw;
        height: calc(100vh - 92vh);
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer p {
        display: block;
        color: transparent;
        user-select: none;
        background-image: url('../Imagenes/EduTaskFooter.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    footer a,
    .headerIniciarSesion a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    footer li,
    .bodyIniciarSesion li {
        list-style: none;
    }

    footer div {
        width: 50%;
    }

    /* REGISTRO */


    @media screen and (min-width: 1025px) {

        .bodyRegistro {
            background-color: #f5f5f5;
            display: flex;
            justify-content: flex-start;
            height: 100vh;
            width: 100vw;
        }

        .eduTask {
            color: transparent;
            user-select: none;
            background-image: url('../Imagenes/EduTask.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            padding-left: 4em;
        }

        #menuIcon {
            display: none;
        }

        .headerRegistro {
            background-color: #333;
            color: #fff;
            padding-left: 1em;
            padding-right: 1em;
            padding-top: 4em;
            height: 100vh;
            position: fixed;
            z-index: 1;
        }

        .headerRegistro a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-weight: boldss;
        }

        .headerRegistro nav {
            margin-top: 4em;
        }

        .headerRegistro nav li {
            margin-top: 2em;
        }

        .headerRegistro nav li:first-child {
            background-image: url('../Imagenes/HomeIcon.png');
            background-size: contain;
            background-position: left;
            background-repeat: no-repeat;
            padding-left: 2em;
        }

        .headerRegistro nav li:last-child {
            background-image: url('../Imagenes/LoginIcon.png');
            background-size: contain;
            background-position: left;
            background-repeat: no-repeat;
            padding-left: 2em;
        }

        .col-2 {
            width: 100vw;
        }

        .title {
            margin: 2em;
            font-size: 2em;
        }

        .main-registro {
            margin-left: calc(22%);
        }

        .registrarse-form {
            margin-left: 4em;
            display: flex;
            flex-direction: column;
            width: 40%;
        }

        .label-registro {
            margin: 1em;
            margin-top: 2em;
            font-size: 1em;
        }

        .input-registro {
            padding: 1em;
            border-radius: 0.5em;
            border: none;
            background-color: #d3d3d3;
        }

        .boton-registro {
            margin-top: 2em;
            padding: 1em;
            border-radius: 0.5em;
            border: none;
            background-color: #333;
            color: #fff;
            width: max-content;
            margin-bottom: calc(25%);

        }

        .col-2 .footer-registro {
            position: fixed;
            bottom: 0;
            background-color: #aba8a8;
            width: 100vw;
            height: calc(100vh - 92vh);
        }

        .footer-registro {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: fixed;
            margin-left: calc(20%);
        }

        .footer-registro p {
            display: block;
            color: transparent;
            user-select: none;
            background-image: url('../Imagenes/EduTaskFooter.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .footer-registro a,
        .headerIniciarSesion a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }

        .footer-registro li,
        .bodyRegistro li {
            list-style: none;
        }


    }

    /* HOME */
    @media screen and (min-width: 1025px) {
        .bodyHome {
            background-color: #f5f5f5;
            display: flex;
            justify-content: flex-start;
            height: 100vh;
            width: 100vw;
        }

        .main-content {
            flex: 1;
            padding: 1rem;
            overflow-y: auto;
        }

        .dashboard {
            display: grid;
            grid-template-areas:
                "calendario todo materias"
                "entregas todo grupos";
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 40% 40%;
            gap: .5rem;
        }

        .calendario,
        .todo,
        .materias,
        .grupos,
        .entregas {
            height: auto;
            background-color: #fff;
            padding: 1rem;
            border-radius: .5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .calendario {
            grid-area: calendario;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .calendarioTexto {
            text-align: center;
        }

        .calendarioImg {
            height: 80%;
            margin: .2rem;
        }

        .todo {
            grid-area: todo;
        }

        .materias {
            grid-area: materias;
        }

        .entregas {
            grid-area: entregas;
        }

        .grupos {
            grid-area: grupos;
        }

        .tarjetas {
            height: 95%;
            margin: .2rem;
            display: flex;
            justify-content: space-around;
        }

        .tarjeta {
            text-align: center;
            height: 45%;
            width: 45%;
            background-color: #cecccc;
            padding: 1rem;
            border-radius: 5px;
            margin-bottom: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    }
}